/* #wrapper style section */
#wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    margin: 0px;

}
/* body style section */
body{
    background-color: lightblue;
}
/* #nav style section */
#nav{
    margin-top: 0px;
    text-align: center;
}
/* h1 style section */
h1{
    padding-top: 150px;
    font-size: 50px;
}
/* inner list section aligned with links style sction */
li{
    display: inline;
    padding: 150px;
    font-size: 34px;

    
}
/* outer link box containing links to navigation style section */
ul{
    margin: 0;
    height: 45px;
    background-color: orange;
    border-radius: 20px;
    
}
li a:hover{
    background-color: grey;
}