body{
    background-color: lightblue;
}
h1{
    padding-top: 100px;
    margin-left: 37%;
    font-size: 50px;
    
}
ul{
    margin:0;

}
li{
    float: left;
    display: inline;
    padding-left: 15%;
    
    
}
li a{
    background-color: orange;
    
    
}
a{
    display: block;
    font-size: 40px;
}